[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
numpy = "*"
jupyterlab = "*"
notebook = "*"
scikit-learn = "*"
matplotlib = "*"
pandas-profiling = "*"

[dev-packages]

[requires]
python_version = "3.8"
